{% extends 'base.html' %}
{% block con %}

<div class="text-center">
    <br><br>
    <h1 class="display-10 fw-bold">KG Commerce에 오신 것을 환영합니다!</h1>
    <br>

    

    <form method="post">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="Input your ID"><br><br>
        <input type="password" name="upass" placeholder="Input yout Password"><br><br>
        <button class="btn btn-dark btn-secondary" style="font-weight: bold;">LOGIN</button>


        <a href="{% url 'acc:index' %}"><button class="btn btn-dark btn-secondary" type="button" style="font-weight: bold;">HOME</button></a>

    </form>
</div>


{% endblock %}